In [13]:
import pandas as pd

In [16]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [57]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [54]:
#Determine the number of elements in fruits.
fruits.count()

17

In [ ]:
fruits.shape[0]

In [ ]:
len(fruits)

In [21]:
#Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [22]:
#Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [88]:
fruits.dtype

dtype('O')

In [24]:
#Output only the first five values from fruits. 
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [50]:
#Output the last three values. 
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [51]:
#Output two random values from fruits.
fruits.sample(2)

9          kiwi
2    strawberry
dtype: object

In [89]:
# Run the .describe() on fruits to see what information it returns 
#when called on a Series with string values.
### returns datatype as object

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [65]:
#Run the code necessary to produce only the unique string values from fruits.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [68]:
#Determine how many times each unique string value occurs in fruits.
unique_count = fruits.value_counts()
unique_count

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [73]:
#Run the code necessary to produce only the unique string values from fruits.

unique_count.sort_values()

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
mango               2
kiwi                4
dtype: int64

In [90]:
#Determine the string value that occurs most frequently in fruits.
fruits.value_counts().nlargest(n =1).index[0]

'kiwi'

In [93]:
#Determine the string value that occurs least frequently in fruits.

fruits.value_counts().tail(1)

papaya    1
dtype: int64

In [94]:
# second method to list all least frequent
fruits.value_counts().nsmallest(n = 1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64